{
    "timeout": 20,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "CastArray": {
            "ignore": [
                "SignpostMarv\\DaftObject\\DaftObjectMemoryTree::RecallDaftNestedObjectTreeWithId"
            ]
        },
        "CastBool": {
            "ignore": [
                "SignpostMarv\\DaftObject\\WriteableTreeTrait::ModifyDaftNestedObjectTreeInsert"
            ]
        },
        "CastInt": {
            "ignore": [
                "SignpostMarv\\DaftObject\\NestedTypeParanoia::ForceInt"
            ]
        },
        "FalseValue": {
            "ignore": [
                "SignpostMarv\\DaftObject\\WriteableTreeTrait::UpdateRoots"
            ]
        },
        "GreaterThan": {
            "ignore": [
                "SignpostMarv\\DaftObject\\AbstractArrayBackedDaftNestedObject::ChangedProperties",
                "SignpostMarv\\DaftObject\\DaftObjectMemoryTree::FilterLeaf"
            ]
        },
        "LessThan": {
            "ignore": [
                "SignpostMarv\\DaftObject\\DaftObjectMemoryTree::FilterLeaf"
            ]
        },
        "LogicalNot": {
            "ignore": [
                "SignpostMarv\\DaftObject\\InefficientDaftNestedRebuild::ProcessTree"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "SignpostMarv\\DaftObject\\InefficientDaftNestedRebuild::ProcessTree",
                "SignpostMarv\\DaftObject\\WriteableTreeTrait::ModifyDaftNestedObjectTreeInsert",
                "SignpostMarv\\DaftObject\\WriteableTreeTrait::ModifyDaftNestedObjectTreeInsertAbove",
                "SignpostMarv\\DaftObject\\WriteableTreeTrait::ModifyDaftNestedObjectTreeInsertBelow",
                "SignpostMarv\\DaftObject\\WriteableTreeTrait::ModifyDaftNestedObjectTreeInsertLooseIntoTree",
                "SignpostMarv\\DaftObject\\WriteableTreeTrait::ProcessTree",
                "SignpostMarv\\DaftObject\\WriteableTreeTrait::StoreThenRetrieveFreshLeaf"
            ]
        },
        "Plus": {
            "ignore": [
                "SignpostMarv\\DaftObject\\DaftObjectMemoryTree::RecallDaftNestedObjectPathToObject",
                "SignpostMarv\\DaftObject\\WriteableTreeTrait::RememberDaftObject"
            ]
        },
        "ProtectedVisibility": {
            "ignore": [
                "SignpostMarv\\DaftObject\\DaftWriteableObjectMemoryTree::ObtainLastLeafInTree",
                "SignpostMarv\\DaftObject\\WriteableTreeTrait::ModifyDaftNestedObjectTreeInsertAdjacent"
            ]
        },
        "PublicVisibility": {
            "ignore": [
                "SignpostMarv\\DaftObject\\WriteableObjectTrait::SetDaftNestedObjectParentId"
            ]
        }
    }
}
