{
    "timeout": 20,
    "source": {
        "directories": [
            "PHPStan",
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "CastBool": {
            "ignore": [
                "SignpostMarv\\DaftObject\\WriteableTreeTrait::ModifyDaftNestedObjectTreeInsert"
            ]
        },
        "CastInt": {
            "ignore": [
                "SignpostMarv\\DaftObject\\NestedTypeParanoia::ForceInt"
            ]
        },
        "Coalesce": {
            "ignore": [
                "SignpostMarv\\DaftObject\\DaftNestedObject\\PHPStan\\PropertyReflectionExtension::getType"
            ]
        },
        "GreaterThan": {
            "ignore": [
                "SignpostMarv\\DaftObject\\DaftObjectMemoryTree::FilterLeaf"
            ]
        },
        "Identical": {
            "ignore": [
                "SignpostMarv\\DaftObject\\DaftNestedObject\\PHPStan\\PropertyReflectionExtension::__construct"
            ]
        },
        "LessThan": {
            "ignore": [
                "SignpostMarv\\DaftObject\\DaftObjectMemoryTree::FilterLeaf"
            ]
        },
        "LogicalNot": {
            "ignore": [
                "SignpostMarv\\DaftObject\\InefficientDaftNestedRebuild::ProcessTree"
            ]
        },
        "LogicalOr": {
            "ignore": [
                "SignpostMarv\\DaftObject\\DaftNestedObject\\PHPStan\\ClassReflectionExtension::hasProperty",
                "SignpostMarv\\DaftObject\\DaftNestedObject\\PHPStan\\PropertyReflectionExtension::__construct",
                "SignpostMarv\\DaftObject\\DaftNestedObject\\PHPStan\\PropertyReflectionExtension::isReadable",
                "SignpostMarv\\DaftObject\\DaftNestedObject\\PHPStan\\PropertyReflectionExtension::isWritable",
                "SignpostMarv\\DaftObject\\DaftNestedObject\\PHPStan\\PropertyReflectionExtension::PropertyIsPublic"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "SignpostMarv\\DaftObject\\DaftNestedObject\\PHPStan\\PropertyReflectionExtension::__construct",
                "SignpostMarv\\DaftObject\\InefficientDaftNestedRebuild::ProcessTree",
                "SignpostMarv\\DaftObject\\WriteableTreeTrait::ModifyDaftNestedObjectTreeInsert",
                "SignpostMarv\\DaftObject\\WriteableTreeTrait::ModifyDaftNestedObjectTreeInsertAbove",
                "SignpostMarv\\DaftObject\\WriteableTreeTrait::ModifyDaftNestedObjectTreeInsertBelow",
                "SignpostMarv\\DaftObject\\WriteableTreeTrait::ModifyDaftNestedObjectTreeInsertLooseIntoTree",
                "SignpostMarv\\DaftObject\\WriteableTreeTrait::ProcessTree",
                "SignpostMarv\\DaftObject\\WriteableTreeTrait::StoreThenRetrieveFreshLeaf"
            ]
        },
        "Plus": {
            "ignore": [
                "SignpostMarv\\DaftObject\\DaftObjectMemoryTree::RecallDaftNestedObjectPathToObject",
                "SignpostMarv\\DaftObject\\WriteableTreeTrait::RememberDaftObject"
            ]
        },
        "ProtectedVisibility": {
            "ignore": [
                "SignpostMarv\\DaftObject\\WriteableTreeTrait::ModifyDaftNestedObjectTreeInsertAdjacent"
            ]
        },
        "PublicVisibility": {
            "ignore": [
                "SignpostMarv\\DaftObject\\DaftNestedObject\\PHPStan\\PropertyReflectionExtension::PropertyIsInt"
            ]
        }
    }
}
