<phpunit
  bootstrap="phpunit-bootstrap.php"
  cacheResult="true"
  cacheResultFile="./phpunit.cache"
  resolveDependencies="true"
  executionOrder="random"
>
  <testsuites>
    <testsuite name="DaftObject">
      <directory>./vendor/signpostmarv/daft-object/Tests/DaftObject/</directory>
    </testsuite>
    <testsuite name="DaftJson">
      <directory>./vendor/signpostmarv/daft-object/Tests/DaftJson/</directory>
    </testsuite>
    <testsuite name="DaftObjectRepository">
      <directory>./vendor/signpostmarv/daft-object/Tests/DaftObjectRepository/</directory>
    </testsuite>
    <testsuite name="DaftSortableObject">
      <directory>./vendor/signpostmarv/daft-object/Tests/DaftSortableObject/</directory>
    </testsuite>
    <testsuite name="PHPStan">
      <directory>./vendor/signpostmarv/daft-object/Tests/PHPStan/</directory>
    </testsuite>
    <testsuite name="DefinitionAssistant">
      <directory>./vendor/signpostmarv/daft-object/Tests/DefinitionAssistant/</directory>
    </testsuite>
    <testsuite name="DaftNestedObject">
      <directory>./Tests/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <log
      type="coverage-html"
      target="phpunit"
    />
    <log
      type="coverage-text"
      target="php://stdout"
      showUncoveredFiles="true"
      showOnlySummary="false"
    />
  </logging>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src/</directory>
    </whitelist>
  </filter>
</phpunit>
